


html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body { 
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
}









main {
    background-color: white;
    width: 375px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-left: 30px;
    text-transform: uppercase;
}

/* NAVIGATION
--------------------------------------------- */

nav {
    /* background-color: purple; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0px;
    position: absolute;
    top: 0px;
    width: 375px;

}

#menu { 
    max-height: 50px;
    background-color: #030A8C;
    overflow: hidden;
    grid-column: 1 / 5;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 375px;
}

header {
    background: linear-gradient(90deg,#2104D1, #020873, #020659);
    display: grid; 
    grid-template-rows: 60px 40px 1fr;
    margin: 0px;
}

header h1 { 
    grid-row: 2 / 3;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
    color: white; 

}

header p {
    grid-row: 3 / 4;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    
}

nav ul {
    /* text-align: center;  */
    margin: 0; 
    padding: 0; 
    width: 100%;
    list-style: none; 
    overflow: hidden; 
    max-height: 0; 
    transition: max-height .2s ease-out;
}



nav h2 {
    visibility: hidden; 
    height: 1px; 
    text-transform: uppercase;
}



nav li {
    /* padding: 0px; */
    width: 100%;
}
nav li a { 
    display: block; 
    width: 100%;
    padding: 10px 10px; 
    text-decoration: none; 
    text-transform: uppercase;
    color: white;
}

nav a:hover, nav input:hover { 
    background-color: #590242;
}




/* H1, h2, h3, p, dl, dd, FOOTER
--------------------------------------------- */
h1 {
    font-size:1.25em;
}

h2, h3 {
    font-size: 1em;
    color: #590242; 
    text-transform: uppercase;
}

p, dl, dd {
    font-size: 1em;
}

footer p {
    font-size: .75em;
    text-align: center;
}

#MuzakMaker {
    font-variant: small-caps;
    font-size: x-large;
    padding-left: 10px;
    display: block; 
    width: 100%;
    padding: 10px 10px 10px 10px; 
    text-decoration: none;
    color: white;
}

#hamburger{
    grid-column-start: 1;
    grid-column-end: 2;
    z-index: 2;
    position: relative;
}





/* label
--------------------------------------------- */

nav label {
    cursor: pointer;
    display: inline-block;
    padding: 22px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}


/* Trending,  Buttons
--------------------------------------------- */
#trending {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 340px;
    overflow-y: hidden;
    overflow-x: scroll;

}

#trending figure {
    display: inline-grid;
    margin-top: 8px; 
    margin-left: 10px;
    margin-right: 10px;
    /* margin-right: -300px; */

}

#trending audio {
    bottom: 280px;
    left: 5px;
    /* margin: auto; */
    margin-left: 10px;
    margin-right: 10px;
}

#trending figcaption {
    position: relative;
    top: -61px;
    background-color: rgb(255, 255, 255, .3); 
}

#trending h3 {
    margin: 5px 0px;
    margin-left: 10px; 
}

dd, dt {
    float:left; 
    margin-left: 10px; 
    padding-bottom: 10px; 
}

dt {
    font-style: italic;
    float: left;
}



audio {
    margin: auto;
    border-radius: 25px;
    position: relative;
    left: -6px;
    background-color: white;
    opacity: .8;
}

.button {
    color: white; 
    text-decoration: none;
    background-color: #590242; 
    width: 150px;
    height: 30px; 
    border-radius: 8px; 
    border: none; 
    margin-top: 0px;
    margin-bottom: 5px; 
    margin-left: 30px;
}

.button:hover {
    background-color: #020659;
}

p {
    margin-top: 8px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}



/* Your (playlists), Curated (playlists)
--------------------------------------------- */

#playlists {
    
}


#your_playlists {
    display:flex; 
    height: 320px; 
    overflow-y: hidden; 
    overflow-x: scroll;
    grid-row: 1;
    background-color: #2699FB;
    margin-bottom: 8px;
    
}

#your_playlists figure {
    background-color: #0D8DFB;
    padding: 10px 10px 25px 10px;
    margin: 5px 5px;
    color: white;
}

figure h3 { 
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;

}


#curated { 
    display: flex;
    height: 320px; 
    overflow-y: hidden; 
    overflow-x: scroll;
    grid-row: 2;
    background-color: #030A8C;
}

#curated figure {
    background-color: #020873;
    margin: 5px 5px;
    padding: 10px 10px 25px 10px;
    color: white;
}




footer {
    clear: both;
    font-size: .75em;
    text-align: center;
    color: #590242;
    background-color: white;
    width: 375px;
}





/* input
--------------------------------------------- */

input {
    display: none;
}
input:checked ~ #menu {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}


/* SCROLL BARS 
--------------------------------------------- */

#trending ::-webkit-scrollbar {

}
#trending ::-webkit-scrollbar-track {

}
#trending::-webkit-scrollbar-thumb {

}
#trending::-webkit-scrollbar-thumb:hover {

}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {

}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {

}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {

}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {

}





/* AUDIO
--------------------------------------------- */

audio::-webkit-media-controls-mute-button {

}
audio::-webkit-media-controls-play-button {

}
audio::-webkit-media-controls-enclosure {

}


/* SCREEN WIDTH 834 AND ABOVE
--------------------------------------------- */

@media screen and (min-width:834px) {

    body { 
        width: 834px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        
    }

    main {
        width: 834px;
    }

    nav {
        width: 834px;
    }

    #menu {
        overflow:visible;
        width: 834px;
    }

    nav ul {
        width: 834px;
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
    }

    nav li {
        width: 166px;
    }
    
    nav li a {
        padding: 5px 0px 5px 0px;
    }

    label span, input {
        display: none;
    }


   


    #playlists {
        clear: both; 
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 55px 520px 75px;
    }

    #your_playlists, #curated {
        display: flex; 
        flex-direction: column;
        overflow-x: hidden; 
        overflow-y: scroll;

    }
    #playlists h2 {
        grid-row: 1;
    }

    #your_playlists { 
        height: 520px;
        grid-row: 2;
        grid-column: 1;
        
    }

    .button {
        float: right;
        margin-right: 15px;
        grid-row: 3;
    }

    #your_playlists figure, #curated figure {
        display: flex;
        text-align: center;
    }

    #curated { 
        height: 520px;
        grid-row: 2;
        grid-column: 2;
    }






    footer {

        width: 834px;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
    }
}







